.home-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;

    .side-bar{
        width: 300px;
        height: 100%;
        background: #054834;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        .inner-side-bar{
            width: 85%;
            height: 100%;

            .home-logo{
                width: 160px;
                height: 50px;
                margin-right: 10%;
                margin-top: 20px;
                margin-bottom: 10px;
            }

            .item-container{
                position: relative;

                .side-item{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    z-index: 4;
    
                    .side-focus{
                        width: 100%;
                        position: relative;
    
                        .side-focus-image{
                            width: 100%;
                            height: 70px;
                            position: absolute;
                            z-index: 1;
                        }
    
                        .side-focus-text{
                            width: 100%;
                            height: 70px;
                            position: absolute;
                            z-index: 2;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin-left: 30px;
                            font-size: 14px;
                        }
                    }
                }
                
                .side-item2{
                    width: 100%;
                    height: 30px;
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    position: absolute;
                    z-index: 3;

                    .normal-image{
                        width: 18px;
                        height: 18px;
                        margin-right: 10px;
                        margin-left: 30px
                    }
                }

                .side-item2:hover{
                    .normal-image{
                        margin-left: 40px;
                    }
                }
            }
        }
    }

    .main-content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        overflow-y: scroll;

        .mobile-bar{
            display: none;
        }

        .top-bar-menu{
            width: 96%;
            height: 7vh;
            margin-top: 20px;
            display: flex;
            flex-direction: row;

            .left-lobe{
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 33px;
                color: #054834;
            }

            .right-lobe{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;

                .search-icon{
                    margin-right: 20px;
                    width: 300px;
                    height: 35px;
                    background: #FDFDFD;
                    border: 1px solid #3F3F3F;
                    border-radius: 30.0053px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    .search-content{
                        width: 100%;
                        border: none;
                        margin-left: 10px;
                        background-color:#FDFDFD;
                        outline: none;
                    }
                }
            }
        }
    }

    .main-content::-webkit-scrollbar {
        width: 10px; 
    }
      
      /* Track */
    .main-content::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
      
      /* Handle */
    .main-content::-webkit-scrollbar-thumb {
        background: #054834;
    }
      
      /* Handle on hover */
    .main-content::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .overlays{
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: 500;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .rightDrawer{
            width: 25%;
            max-width: 500px;
            min-width: 320px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #fff;
            
            .innerDrawer{
                width: 94%;
                height: auto;
                margin-top: 10px;

                .topWrite{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    .notewrite{
                        font-size: 16px;
                        font-weight: bold;
                    }

                    .IconDraw{
                        width: 35px;
                        height: 35px;
                        border-radius: 35px;
                        background: #EDEDED99;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 1250px){
    .home-container{
        .side-bar{
            width: 250px;

            .inner-side-bar{
                width: 95%;
            }
        }
    }
}

@media (max-width: 1150px){
    .home-container{
        .side-bar{
            display: none;
        }

        .main-content{
            .mobile-bar{
                display: block;
                width: 100%;

                .side-app-bar{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                }
            }

            .top-bar-menu{
                display: none;
            }
        }
    }
}

