.reportContainer{
    width: 96%;
    height: auto;

    .controls{
        width: 100%;
        height: 35px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 10px;
    }

    .mains-report{
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: row;


        .left{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #E6F5F199;

            .inner-main{
                margin: 10px;
                width: 100%;
                margin-top: 10px;

                .contains{
                    width: 100%;

                    .table-cont{
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
    
                        .column-head1{
                            width: 20%;
                            height: 100%;
                            border-radius: 4px;
                            margin-right: 5px;
    
                            .header1{
                                width: 100%;
                                height: 30px;
                                background: linear-gradient(266.48deg, #525252 8.34%, #525252 52.9%);
                                border-radius: 4px;
                                color: #fff;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: flex-start;
                                font-size: 12px;
                            }
    
                            .row-cont{
                                width: 100%;
                                font-size: 12px;
                                color: #000;
    
                                .rows{
                                    width: 100%;
                                    height: 30px;
                                    margin-top: 5px;
                                    display: flex;
                                    flex-direction: row;
    
                                    .cell{
                                        width: 100%;
                                        height: 30px;
                                        background-color: #EDEDED;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        margin-right: 5px;
                                        border-radius: 5px;
                                    }
                                }
                            }
                        }
    
                        .column-head2{
                            width: 60%;
                            height: 100%;
                            border-radius: 4px;
    
                            .header2{
                                width: 100%;
                                height: 30px;
                                background: linear-gradient(266.48deg, #525252 8.34%, #525252 52.9%);
                                border-radius: 4px;
                                color: #fff;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: flex-start;
                                font-size: 12px;
                            }
    
                            .row-cont{
                                width: 100%;
                                font-size: 12px;
                                color: #000;
    
                                .rows{
                                    width: 100%;
                                    height: 30px;
                                    margin-top: 5px;
                                    display: flex;
                                    flex-direction: row;
    
                                    .cell{
                                        width: 100%;
                                        height: 30px;
                                        background-color: #EDEDED;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        margin-right: 5px;
                                        border-radius: 5px;
                                    }
                                }
                            }
                        }
                    }
                }

                .paym{
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;

                    .pleft{
                        width: 50%;
                        height: auto;
                    }
                }

                .paym2{
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: center;

                    .pleft{
                        width: 30%;
                        height: auto;
                    }

                    .pright{
                        width: 60%;
                        height: auto;
                    }
                }
            }
        }

        .right{
            width: 30%;
            height: 300px;
            background-color: green;
            display: none;
        }
    }
}

@media (max-width: 1150px){
    .reportContainer{
        margin-top: 60px;
        .mains-report{
            .left{
                .inner-main{

                    .contains{
                        width: 100%;
                        overflow-x: scroll;

                        .table-cont{
                            width: 1150px;
                        }
                    }

                    .paym{
                        flex-direction: column;

                        .pleft{
                            width: 100%;
                        }
                    }

                    .paym2{
                        flex-direction: column;
                        height: auto;

                        .pleft{
                            width: 100%;
                        }

                        .pright{
                            width: 100%;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}

.main-sales{
    width: 100%;
    height: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;

    .inner{
        width: 100%;
        height: auto;

        .table-heads{
            width: 100%;
            height: 30px;
            display: flex;
            flex-direction: row;

            .col{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(266.48deg, #525252 8.34%, #525252 52.9%);
                border-radius: 4px;
                color: #fff;
                margin-right: 5px;
                font-size: 12px;
            }
        }

        .table-heads2{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;

            .col{
                width: 100%;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #EDEDED;
                border-radius: 4px;
                color: #000;
                margin-right: 5px;
                font-size: 12px;
                margin-top: 5px;
            }
        }
    }
}