.title-text{
  font-family: 'Poppins', sans-serif;
  text-align: start;
  font-weight: bold;
  font-size: 15px;
  color: #323232;
  margin-top: 5px;
}
.smalle-text{
  font-family: 'Poppins', sans-serif;
  text-align: start;
  font-size: 12px;
  color: #054834;
  margin-top: 5px;
}
.card{
    width: 25%;
    border-radius: 14px;
    background: #FEFFFF;
    display: flex;
    border-radius: 5px;
    padding: 1%;
    margin: 1%;
    display: flex;
    flex-direction: column 
    
  ;cursor: pointer;
  box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.04);
}
.card:hover{
  
}
.img{
  width: 60px;
      height: 60px;
      border-radius: 25px;
      margin-right: 10px;
}
.image-wrap{
  width: 100%;
      display: flex;
      justify-content: flex-end;
      
}
.card-text-wrap{
  display: flex; flex-direction: row; margin-top: 2%
}
.e-station-sales{
  width: 100%;
  height: 100vh;
  
  display: flex;
  background-color: #F4F4F4;
  flex-direction: column;
  margin-top: 2%;
  
}
.card-wrap-sales{
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  padding-left: 10px;
  // margin-left: 1%;
  
 }
    
 

@media screen and (max-width:1000px) {
 .card-wrap-sales{
  display: flex;
  width: 100%;
  flex-direction: column;
 }
 .e-station-sales{
  align-items: center;
  width: 100%;
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  align-items: center;
  
 }
 .card-wrap-sales:last-child {
  margin-top: 2%;
  margin-left: 0%;
}
 .card-text-wrap{
  margin-left: 1%;
 }
.card{
  width:95%;
 margin-top: 2%;
   padding: 0%;
   align-self:center;


}
.image-wrap{
  width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 2%;
      img{
        margin-right: 3%;
      }
}
}
